<ion-header>
  <ion-toolbar>
    
    <ion-searchbar showCancelButton="focus">
      <!-- <ion-icon name="arrow-back-sharp" (click)="goTo('folder/inbox')"></ion-icon> -->
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="grid">
    <img src="../../assets/images/img1.jfif">
    <img src="../../assets/images/img2.jfif">
    <img src="../../assets/images/img3.jfif">
    <img src="../../assets/images/img_1.jpg">
    <img src="../../assets/images/img_2.jpg">
    <img src="../../assets/images/img_3.jpg">
    <img src="../../assets/images/img_4.jpg">
    <img src="../../assets/images/img4.jfif">
    <img src="../../assets/images/img5.jfif">
    <img src="../../assets/images/img6.jfif">
    <img src="../../assets/images/img7.jfif">
    <img src="../../assets/images/img8.jfif">
    <img src="../../assets/images/img9.jfif">
    <img src="../../assets/images/img1.jfif">
    <img src="../../assets/images/img2.jfif">
    <img src="../../assets/images/img3.jfif">
    <img src="../../assets/images/img_1.jpg">
    <img src="../../assets/images/img_2.jpg">
    <img src="../../assets/images/img_3.jpg">
    <img src="../../assets/images/img_4.jpg">
    <img src="../../assets/images/img4.jfif">
    <img src="../../assets/images/img5.jfif">
    <img src="../../assets/images/img6.jfif">
    <img src="../../assets/images/img7.jfif">
    <img src="../../assets/images/img8.jfif">
    <img src="../../assets/images/img9.jfif">
    <img src="../../assets/images/img1.jfif">
    <img src="../../assets/images/img2.jfif">
    <img src="../../assets/images/img3.jfif">
    <img src="../../assets/images/img_1.jpg">
    <img src="../../assets/images/img_2.jpg">
    <img src="../../assets/images/img_3.jpg">
    <img src="../../assets/images/img_4.jpg">
    <img src="../../assets/images/img4.jfif">
    <img src="../../assets/images/img5.jfif">
    <img src="../../assets/images/img6.jfif">
    <img src="../../assets/images/img7.jfif">
    <img src="../../assets/images/img8.jfif">
    <img src="../../assets/images/img9.jfif">
    <img src="../../assets/images/img1.jfif">
    <img src="../../assets/images/img2.jfif">
    <img src="../../assets/images/img3.jfif">
    <img src="../../assets/images/img_1.jpg">
    <img src="../../assets/images/img_2.jpg">
    <img src="../../assets/images/img_3.jpg">
    <img src="../../assets/images/img_4.jpg">
    <img src="../../assets/images/img4.jfif">
    <img src="../../assets/images/img5.jfif">
    <img src="../../assets/images/img6.jfif">
    <img src="../../assets/images/img7.jfif">
    <img src="../../assets/images/img8.jfif">
    <img src="../../assets/images/img9.jfif">
  </div>
  
</ion-content>
