ion-icon{
    font-size: 35px;
}

// masonry layout
.grid {
    column-count: 3;
    column-gap: .5em;
    max-width: 980px;
    margin: auto;
    width: 100%;
    img{
      border-radius: 10px;
    }
}