.bg{
  margin: 0px;
  position: relative;
  .bg-img{
    object-fit: fill;
    height: 33vh;
  }

  .top-right{
    height: 27px;
    font-size: 21px;
    position: absolute;
    top: 8px;
    right: 16px;
    background-color: grey;
    width: 29px;
    border-radius: 9px;
    padding: 5px;
  }

  .top-left{
    height: 27px;
    font-size: 21px;
    position: absolute;
    top: 8px;
    left: 16px;
    background-color: grey;
    width: 29px;
    border-radius: 9px;
    padding: 5px;
  }

  .bottom-center {
    background-color: #f6f5f5;
    width: 100%;
    position: absolute;
    top: 11rem;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    margin: 0;

    ion-card-header{
      ion-grid{
        padding: 0%;
        ion-row{
          display: flex;
          .border{
            padding: 7px;
            background-color: white;
            border-radius: 5px;
            font-size: 12px;
            margin-right: 5px;
          }
          .adjust{
            padding: 4px;
            margin: 0px;
            display: flex;
            align-items: center;
            height: 43px;
          }
          ion-col{
            margin: auto;
            text-align: center;
            padding: 0px;
            ion-avatar{
              ion-img{
                height: 60px;
              }
            }
          }
        }
      }
    }
    ion-card-content{
      .main-row{
        height: 65.8vh;
        overflow: auto;
      }
      .inactive{
        background: none;
        color: lightgray;
      }
      .active{
        background: none;
        color: black;
      }
    }
  }
}


// masonry layout
.grid {
  column-count: 3;
  column-gap: .5em;
  max-width: 980px;
  margin: auto;
  width: 100%;
  img{
    border-radius: 10px;
  }
}