.bg{
  ion-img{
    object-fit: fill;
    height: 33vh;
  }
  margin: 0px;
  position: relative;
  .top-right{
    height: 27px;
    font-size: 21px;
    position: absolute;
    top: 8px;
    right: 16px;
    background-color: grey;
    width: 29px;
    border-radius: 9px;
    padding: 5px;
  }
  .top-left{
    height: 27px;
    font-size: 21px;
    position: absolute;
    top: 8px;
    left: 16px;
    background-color: grey;
    width: 29px;
    border-radius: 9px;
    padding: 5px;
  }
  .bottom-center {
    background-color: rgb(253, 248, 239);
    width: 98%;
    position: absolute;
    top: 11rem;
    left: -6px;
    border-radius: 25px;
    height: 100vh;
    ion-card-header{
      ion-grid{
        ion-row{
          .border{
            border: 1px solid rgb(187, 187, 187);
            background-color: white;
            border-radius: 10px;
          }
          ion-col{
            margin: auto;
            text-align: center;
            ion-avatar{
              ion-img{
                height: 60px;
              }
            }
          }
        }
      }
    }
    ion-card-content{
      .inactive{
        background: none;
        color: lightgray;
      }
      .active{
        background: none;
        color: black;
      }
    }
  }
}