ion-menu-button {
  color: var(--ion-color-primary);
}
ion-icon{
  margin: 5px;
  font-size: 28px;
}
ion-title{
  font-weight: 800;
  ion-icon{
    float: right;
  }
}
ion-content{
  ion-card:nth-child(2){
    margin-top: 10px !important;
  }
  ion-card{
    margin: 0px;
    position: relative;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin-top: -20px;
    --background: transparent;
    .small{
      font-size: 16px !important;
    }    
    .top-left{
      width: 50%;
      position: absolute;
      top: 6px;
      left: 6px;
      display: flex;
      align-items: center;
      ion-avatar{
        height: 40px;
        ion-img{
          width: 45px;
          height: 40px;
        }
      }
    }
    .top-right{
      position: absolute;
      top: 8px;
      right: 16px;
    }
    .bottom-left {
      position: absolute;
      bottom: 30px;
      left: 30px;
      display: flex;
      align-items: center;
      .star{
        display: flex;
        align-items: center;
        opacity: 0.7;
        border-radius: 20px;
        width: 75px;
        // height: 32px;
        background-color: #8a8a8a;
      }
      .msg{
        display: flex;
        align-items: center;
      }
    }
    .bottom-right {
      position: absolute;
      bottom: 30px;
      right: 16px;
    }
  }
}

ion-slides{
  margin-top: 8px;
  ion-slide{
    ion-card{
      margin:3px;
      box-shadow: none !important;
      img{
        height: 50px;
        border-radius: 10px;
      }
      ion-card-content{
        padding: 6px 6px 0px;
        border: 2px solid;
        border-image: linear-gradient(to bottom right, #b827fc 10%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
        border-image-slice: 1;
      }
    }

  }
}

ion-tab-bar {
  // Translucent positioning effect
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}


.border {
	font-size: 1.6rem;
	display: grid;
	place-items: center;
	min-height: 200px;
	border: 8px solid;
	padding: 1rem;
}



.tab-button {
  max-width: 200px;
}

::ng-deep ion-icon.icon-button {
  background: #fff !important;
  color: rgb(51, 51, 51) !important;
  border-radius: 50%!important;
}

:host ::ng-deep .tabs-inner {
  position: unset!important;
  contain: size style!important;
}

.bottom-tab-bar {
  --background: transparent;
  --border: 0;
}

ion-tab-button {
  --background: #fff;
  --color:rgb(51, 51, 51);
  --color-selected: red;
  --ripple-color: rgb(51, 51, 51);
}


.button-center {
  --background: transparent!important;
  ion-icon {
    height: 40px;
    width: 40px;
    font-size: 60px;
  }
}
ion-tab-bar {
  &:before {
    box-shadow: 0 387px 0 300px #fff;
    position: absolute;
    margin-top: -48px;
    padding: 56px;
    border-radius: 65%;
    content: '';
  }
}

.inner-left-btn {
  border-radius: 0 50% 0 0; 
  //create the curved style on the left side of the center
}


.inner-right-btn {
  border-radius: 50% 0 0 0; 
  // create the curved style on the right side of the center
}

.inner-center-btn {
  position: absolute;
  left: calc(50% - 35px); // position your button in the center
  bottom: 20px; // position button slightly above the half
  font-size: 70px;
  --background: transparent;
}




#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}