ion-menu-button {
  color: var(--ion-color-primary);
}
ion-icon{
  margin: 5px;
  font-size: 28px;
}
ion-title{
  font-weight: 800;
  ion-icon{
    float: right;
  }
}
ion-content{
  ion-card:nth-child(2){
    margin-top: 10px !important;
  }
  ion-card{
    margin: 0px;
    position: relative;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin-top: -20px;
    --background: transparent;
    .small{
      font-size: 16px !important;
    }    
    .top-left{
      width: 50%;
      position: absolute;
      top: 6px;
      left: 6px;
      display: flex;
      align-items: center;
      ion-avatar{
        height: 40px;
        ion-img{
          width: 45px;
          height: 40px;
        }
      }
    }
    .top-right{
      position: absolute;
      top: 8px;
      right: 16px;
    }
    .bottom-left {
      position: absolute;
      bottom: 30px;
      left: 30px;
      display: flex;
      align-items: center;
      .star{
        display: flex;
        align-items: center;
        opacity: 0.7;
        border-radius: 20px;
        width: 75px;
        // height: 32px;
        background-color: #8a8a8a;
      }
      .msg{
        display: flex;
        align-items: center;
      }
    }
    .bottom-right {
      position: absolute;
      bottom: 30px;
      right: 16px;
    }
  }
}

ion-slide{
  display: block;
  ion-card{
    margin-top:5px;
    box-shadow: none;
    position: relative;
    border: 5px solid transparent;
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background-clip: padding-box;
    border-radius: 15px;
    .space{                    
      padding: 4px 5px;
      background: #fff;
      margin: 3px;
      height: 71px;
      width: 71px;
      overflow: hidden;
      border-radius: 10px;
      img{
        height: 100%;
        width: 100%;
        border-radius: inherit;
      }
    }
  }
  h6{
    margin: 0;
  }
}