<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="person-outline" (click)="goTo('profile')"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center">Gapshap &nbsp;<ion-icon  (click)="goTo('notify')" name="notifications-outline"></ion-icon>
      <ion-icon name="search-outline" (click)="goTo('search')"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-slides [options]="sliderConfig">
    <!-- <ion-slide *ngFor="let item of list">
      <ion-card>
          <div class="space">
            <img src="../../assets/images/formal_1.jpg">
          </div>
        <ion-text>{{item || '-' }}</ion-text>
      </ion-card>
    </ion-slide> -->
    <ion-slide *ngFor="let item of list">
      <ion-card>
        <div class="space">
          <img src="../../assets/images/formal_1.jpg">
        </div>
      </ion-card>
      <h6>{{item || '-' }}</h6>
    </ion-slide>
  </ion-slides>

  <ion-card>
    <img src="../../assets/images/img1.jfif" />
    <div class="top-left">
      <ion-avatar>
        <ion-img src="../../assets/images/img1.jfif"></ion-img>
      </ion-avatar>
      <ion-label color="light">Sarfaraz</ion-label>
    </div>
    <ion-icon color="light" class="top-right small" name="ellipsis-vertical-sharp" (click)="openSelect()"></ion-icon>

    <div class="bottom-left">
      <div class="star">
        <ion-icon class="small" color="light" name="star-sharp"></ion-icon>
        <ion-label class="small" color="light">221</ion-label>
      </div>
      <div class="msg">
        <ion-icon class="small" color="light" name="chatbox"></ion-icon>
        <ion-label class="small" color="light">221</ion-label>
      </div>
      <div class="forward">
        <ion-icon class="small" color="light" name="send"></ion-icon>
      </div>
    </div>
    <ion-icon color="light" class="bottom-right small" name="bookmark-outline"></ion-icon>
  </ion-card>

  <ion-card>
    <img src="../../assets/images/img2.jfif" />
    <div class="top-left">
      <ion-avatar>
        <ion-img src="../../assets/images/img2.jfif"></ion-img>
      </ion-avatar>
      <ion-label color="light">Arman</ion-label>
    </div>
    <ion-icon color="light" class="top-right small" name="ellipsis-vertical-sharp" (click)="openSelect()"></ion-icon>
    <div class="bottom-left">
      <div class="star">
        <ion-icon class="small" color="light" name="star-sharp"></ion-icon>
        <ion-label class="small" color="light">221</ion-label>
      </div>
      <div class="msg">
        <ion-icon class="small" color="light" name="chatbox"></ion-icon>
        <ion-label class="small" color="light">221</ion-label>
      </div>
      <div class="forward">
        <ion-icon class="small" color="light" name="send"></ion-icon>
      </div>
    </div>
    <ion-icon color="light" class="bottom-right small" name="bookmark-outline"></ion-icon>


  </ion-card>

  <ion-card>
    <img src="../../assets/images/img3.jfif" />
    <div class="top-left">
      <ion-avatar>
        <ion-img src="../../assets/images/img3.jfif"></ion-img>
      </ion-avatar>
      <ion-label color="light">Arman 1</ion-label>
    </div>
    <ion-icon color="light" class="top-right small" name="ellipsis-vertical-sharp" (click)="openSelect()"></ion-icon>

    <div class="bottom-left">
      <div class="star">
        <ion-icon class="small" color="light" name="star-sharp"></ion-icon>
        <ion-label class="small" color="light">221</ion-label>
      </div>
      <div class="msg">
        <ion-icon class="small" color="light" name="chatbox"></ion-icon>
        <ion-label class="small" color="light">221</ion-label>
      </div>
      <div class="forward">
        <ion-icon class="small" color="light" name="send"></ion-icon>
      </div>
    </div>
    <ion-icon color="light" class="bottom-right small" name="bookmark-outline"></ion-icon>

  </ion-card>

  <ion-card>
    <img src="../../assets/images/img4.jfif" />
    <div class="top-left">
      <ion-avatar>
        <ion-img src="../../assets/images/img4.jfif"></ion-img>
      </ion-avatar>
      <ion-label color="light">Arman 2</ion-label>
    </div>
    <ion-icon color="light" class="top-right small" name="ellipsis-vertical-sharp" (click)="openSelect()"></ion-icon>

    <div class="bottom-left">
      <div class="star">
        <ion-icon class="small" color="light" name="star-sharp"></ion-icon>
        <ion-label class="small" color="light">221</ion-label>
      </div>
      <div class="msg">
        <ion-icon class="small" color="light" name="chatbox"></ion-icon>
        <ion-label class="small" color="light">221</ion-label>
      </div>
      <div class="forward">
        <ion-icon class="small" color="light" name="send"></ion-icon>
      </div>
    </div>
    <ion-icon color="light" class="bottom-right small" name="bookmark-outline"></ion-icon>
  </ion-card>
  <div id="container">

    <!-- <strong class="capitalize">{{ folder }}</strong>
    <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p> -->
  </div>

  <ion-select [hidden]="true" interface="action-sheet" #mySelect (ionChange)="goToProfile()">
    <ion-select-option value="enable">Enable</ion-select-option>
    <ion-select-option value="mute">Mute</ion-select-option>
    <ion-select-option value="mute_week">Mute for a week</ion-select-option>
    <ion-select-option value="mute_year">Mute for a year</ion-select-option>
  </ion-select>
</ion-content>

<app-footer-tabs activePage="home"></app-footer-tabs>